.calendar{
	top:1000px;
}

 .wrapper{
	width: 1000px;
	margin-top:700px;
    display:grid;
    grid-template-columns:70% 30%;
    grid-gap:2em;

}

 .wrapper > div{
	  opacity: 0.9;
      background:#fe5a1d;
      padding:1em;
    }
 .wrapper > div:nth-child(odd){
      background:#ff8c00;
	}
	
.c_wrap {

	margin: 0 auto;
    width: 1000px;
}